@charset "UTF-8";
.order {
  height: 100vh;
}

.order .noLoginStatus {
  height: calc(100vh - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order .noLoginStatus .content {
  width: 80%;
  text-align: center;
  font-size: 18px;
  color: #333;
}

.order .noLoginStatus .content .img {
  width: 100%;
  height: 200px;
  background: url("../../assets//images//noOrder.jpg");
  background-size: cover;
  border-radius: 40px;
}

.order .loginStatus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 50px;
  min-height: 100vh;
  background: #f4f4f4;
}

.order .loginStatus .orderContent .order {
  height: auto;
  margin: 20px 10px;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.order .loginStatus .orderContent .order .shopInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order .loginStatus .orderContent .order .shopInfo .avatar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}

.order .loginStatus .orderContent .order .shopInfo .avatar img {
  width: 100%;
  height: 100%;
}

.order .loginStatus .orderContent .order .shopInfo .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.order .loginStatus .orderContent .order .shopInfo .info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order .loginStatus .orderContent .order .shopInfo .info .title .name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.order .loginStatus .orderContent .order .shopInfo .info .title .name::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -5px;
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #555;
  border-right: 2px solid #555;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.order .loginStatus .orderContent .order .shopInfo .info .title .orderStatus {
  margin-right: 10px;
  font-size: 14px;
  color: #999;
}

.order .loginStatus .orderContent .order .shopInfo .info .others span {
  display: inline-block;
  color: red;
  border-radius: 5px;
  border: 1px solid red;
  padding: 1px 5px;
  margin-right: 10px;
  font-size: 12px;
}

.order .loginStatus .orderContent .order .orderFood {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order .loginStatus .orderContent .order .orderFood .foods {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}

.order .loginStatus .orderContent .order .orderFood .foods .food {
  width: 80px;
}

.order .loginStatus .orderContent .order .orderFood .foods .food .img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
}

.order .loginStatus .orderContent .order .orderFood .foods .food .img img {
  width: 100%;
  height: 100%;
}

.order .loginStatus .orderContent .order .orderFood .foods .food .foodName {
  overflow: hidden;
  display: block;
  font-size: 12px;
  overflow: hidden;
  /*超出部分隐藏*/
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}

.order .loginStatus .orderContent .order .orderFood .foodInfo {
  width: 80px;
  text-align: right;
}

.order .loginStatus .orderContent .order .orderFood .foodInfo p {
  margin: 2px;
}

.order .loginStatus .orderContent .order .orderFood .foodInfo .price {
  font-size: 16px;
}

.order .loginStatus .orderContent .order .orderBtn {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.order .loginStatus .orderContent .order .orderBtn .btn {
  border: 1px solid #888;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 10px;
}
/*# sourceMappingURL=Order.module.css.map */