.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-morentouxiang:before {
  content: "\e60d";
}
@font-face {
  font-family: 'iconfont';  /* Project id 2156175 */
  src: url('//at.alicdn.com/t/font_2156175_6nr9cwuduim.woff2?t=1623478758703') format('woff2'),
       url('//at.alicdn.com/t/font_2156175_6nr9cwuduim.woff?t=1623478758703') format('woff'),
       url('//at.alicdn.com/t/font_2156175_6nr9cwuduim.ttf?t=1623478758703') format('truetype');
}

