.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-morentouxiang:before {
  content: "\e60d";
}
@font-face {
  font-family: 'iconfont';  /* project id 2156175 */
  src: url('//at.alicdn.com/t/font_2156175_mwkppt29cpr.eot');
  src: url('//at.alicdn.com/t/font_2156175_mwkppt29cpr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2156175_mwkppt29cpr.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2156175_mwkppt29cpr.woff') format('woff'),
  url('//at.alicdn.com/t/font_2156175_mwkppt29cpr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2156175_mwkppt29cpr.svg#iconfont') format('svg');
}
